<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <title>Ürünler</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="/cart" class="btn btn-outline-primary float-end">Sepetim</a>
      <a href="/myorders" class="btn btn-outline-info">Siparişlerim</a>
    </nav>
    <div class="container my-4">
      <h1>Ürünler</h1>
      <div id="product-list" class="row"></div>
    </div>
    <script src="/assets/js/products.js"></script>
  </body>
</html>
